.DS_Store
**/nbproject/private/
**/.claude/
**/.idea/
**/.gradle/
*~

.vs/
bin/
obj/

/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/08. SERVIDOR/servidor_soap_java_conuni_gr06/build/
/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/06. CLIWEB/cliente_soap_java_conuni_gr06/nbproject/private/
/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/06. CLIWEB/cliente_soap_java_conuni_gr06/build/
/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/04. CLICONSOLA/cliente_consola_soap_java_conuni_gr06/nbproject/private/
/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/05. CLIESCRITORIO/cliente_escritorio_soap_java_conuni_gr06/nbproject/private/
/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/05. CLIESCRITORIO/cliente_escritorio_soap_java_conuni_gr06/dist/
/UNIDAD 1/RESTFULL_JAVA_CONUNI_GR06/08. SERVIDOR/servidor_restful_java_conuni_gr06/build/
/UNIDAD 1/RESTFULL_JAVA_CONUNI_GR06/08. SERVIDOR/servidor_restful_java_conuni_gr06/dist/
/UNIDAD 1/RESTFULL_JAVA_CONUNI_GR06/04. CLICONSOLA/cliente_consola_restful_java_conuni_gr06/build/
/UNIDAD 1/RESTFULL_JAVA_CONUNI_GR06/06. CLIWEB/cliente_web_restful_java_conuni_gr06/build/
/UNIDAD 1/RESTFULL_JAVA_CONUNI_GR06/05. CLIESCRITORIO/cliente_escritorio_restful_java_conuni_gr06/build/
/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/08. SERVIDOR/servidor_soap_java_conuni_gr06/dist/
/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/04. CLICONSOLA/cliente_consola_soap_java_conuni_gr06/dist/
/UNIDAD 1/SOAP_JAVA_CONUNI_GR06/06. CLIWEB/cliente_web_soap_java_conuni_gr06/dist/
/UNIDAD 1/DBLOCAL/EUREKABANK_SOAP_JAVA_GR06/08. SERVIDOR/eurekabank_soap_java_gr06/target/
/UNIDAD 1/EXAMEN/SOAP_JAVA_TICKETPREMIUM_G6/08. SERVIDOR/servidor_soap_java_federacion_gr06/target/
